*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
   --navbar-active : #5669DB;
   --navbar-color:#8e8e8e;
}
body {
  margin-top: 100px;
}
.navabr {
  display: flex;
  background: white;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  right: 0;
  left: 0;
  top: 0;
  padding-bottom: 10px;
  z-index: 999;
}
.ul-navbar{
  display: flex;

}

.ul-navbar li {
  list-style: none;
  padding: 30px;
  font-size: 20px;
  color: var(--navbar-color);
  font-family: system-ui;
}
.navlink{
  text-decoration: none;
}
.logo{
  width: 100%;
}
.logo-contener {
  width: 238px;
}
.ul-navbar .active {
  background-color: var(--navbar-active);
  height: 100%;
  color: white !important ;
  border-radius: 0px 0px 28px 28px;
 
}
.ul-navbar .active li {
  color: white !important ;
}


/* landing page */
.landing_page {
  display: grid;
  justify-content: center;
  column-gap: 70px;
  margin-top: 10px;
  margin: 41px 116px 78px 116px;
  grid-template-columns: 1fr 1fr;
}
.boy-landingpage{
  width: 100%;
  z-index: 9;
}
.img{
  width: 89%;
  position: relative;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img::after {
  content: "";
  width: 499px;
  height: 400px;
  z-index: -1;
  right: -100px;
  bottom: -100px;
  border-radius: 50%;
  background: #e5ddff80;
  position: absolute;
}
.text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 36px;
  align-items: baseline;
  position: relative;
}
.text h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 67px;
  line-height: 82px;
  font-weight: 600;
}
.text p {
  font: caption;
  font-size: 17px;
  color: grey;
}
.Explore_Courses{
 
    text-align: center;
    border: none;
    background: #5553ff;
    width: 213px;
 
    font-size: 19px;
    /* padding: 10px; */
    padding: 11px 24px;
    color: white;
    font-weight: 600;
    text-decoration: none;

}
.plane {
  position: absolute;
  width: 145px;
  top: 3px;
  left: 8px;
}
.exprence {
  background-color: #032341;
  display: grid;
  align-items: center;
  color: white;
  display: flex;
  padding: 42px 128px 0px 145px;
  height: 605px;
  justify-content: start;
  align-items: center;
}
.exprence1 {
  background-color: #032341;
  display: grid;
  align-items: center;
  color: white;
  flex-direction:row-reverse;
  display: flex;
  padding: 41px 116px 78px 116px;
  height: 605px;
  justify-content: start;
  align-items: center;
  justify-content: space-between;
}
.svg-img {
  width: 100%;
  margin-top: 98px;
}
.svg-right {
  width: 59%;
}

.exprence_h1 {
  font-family: sans-serif;
  font-size: 44px;
}
.exprence-left{
  flex: 1;
}
p.exprence_p {
  font-family: 'Barlow Condensed';
  line-height: 28px;
  font-size: 20px;
  padding: 28px 0;
}
p.exprence_p_p {
  font-family: 'Barlow Condensed';
  line-height: 28px;
  font-size: 20px;
  color: #505098;
  padding: 17px 0;
}
.bottom-text {
  display: flex;
}
.bottom-left ,.bottom-right{
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}
.bottom-left p {
  font-size: 14px;
  font-family: sans-serif;
}
.bottom-right p {
  font-size: 14px;
  font-family: sans-serif;
}
/* courses main */
.courses_main{
  width: 100%;
 
 

}
.text-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 23px;
  line-height: 82px;
  font-weight: 600;
  margin-top: 17px;
}

.courses_main {
    width: 100%;
 
    display: flex;
    align-items: center;
   
    flex-direction: column;

}
.course_details {
 column-gap: 20px;
  display: grid;
  width: 85%;
  margin: 30px 0;
  grid-template-columns: 1fr 1fr 1fr;
}
.course-p {
  text-transform: uppercase;
  font-size: 18px;
  margin: 12px 0px;
  font-family: monospace;
  color: gray;
}
h2.course-title {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #282828;
}
.text_area {
  padding: 21px 18px;
}

span.getStarted {
  display: flex;
  align-items: center;
}
p.intermediate {
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 13px;
  color: #323232;
}
button.Get-Started {
  padding: 7px 25px;
  border: 1px solid #8c8c8c;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  background: transparent;
  align-items: center;
  column-gap: 16px;
}
.Browse-all-courses {
  padding: 12px 25px;
  /* border: 1px solid #8c8c8c; */
  display: flex;
  border: none;
  font-weight: 600;
  margin: 29px 0px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background: #5553ff;
  align-items: center;
  column-gap: 16px;
}

.exprence_p_p_middle {
  background: #5553ff;
  color: white;
  padding: 6px;
  border-radius: 10px 10px 0px 0px;
}
.Explorecourse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 39px;
}
.course_card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 0.3s;
  border-radius: 6px;
  overflow: hidden;
}

.style-a{
  color: white;
  text-decoration: none;

}
.course_card:hover {
  transform: translate(0, -10px);
}
.card-link{
  text-decoration: none;
}
body{
  background-color: #efeffa;
}
.course-body{
  display: flex;
}

ul.sidenav li {
  height: 78px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-body {
  display: flex;
  column-gap: 101px;
}
ul.sidenav {
  list-style: none;
  font-family: system-ui;
  display: flex;
  /* border-right: 1px solid gray; */
  text-align: center;
  width: 119px;
  row-gap: 32px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.sidebar-navlink.active{
  color: #ffffff;
  background-color: #2e2e40;
}
.sidebar-navlink{
  color: #032341;
  text-decoration: none;
}

input.course-input {
  width: 300px;
  padding: 14px;
  border-radius: 3px;
  outline: none;
  height: 37px;
  border: 1px solid #c1c1c1;
}
.course-input-section{
  position: relative;
  width: 300px;
}
.autocorrect {
  position: absolute;
  top: 39px;
  background: white;

  width: 100%;
  z-index: 99;
}
.autocorrect ul{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  list-style: none;
}
.autocorrect ul li{
  padding: 10px;
  font-family: system-ui;
}
.autocorrect ul li:hover{
 background-color: rgb(220, 220, 220);
 cursor: pointer;
}


span.input-x {
  display: flex;
  align-items: center;
  position: relative;
}
span.main-x {
  font-family: sans-serif;
  background: #e5e5e5;
  position: absolute;
  width: 28px;
  right: 7px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  height: 28px;
}
.maincourse {
  display: flex;
  align-items: center;
  margin: 10px 0;
  justify-content: center;
  column-gap: 30px;
}
.maincourse h1{
  font-family: 'Barlow Condensed', sans-serif;
  
    line-height: 82px;
    font-weight: 600;
}